<!DOCTYPE html>
<html>
<head>
  <title>lessons Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="dashboard.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="ng-file-upload.js"></script>
  <script src="dashboard.js"></script>
</head>
<body ng-app="dashboard" ng-controller="UserInfoController as vm" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-4 col-md-4 sidebar">
        <p class="h3 text-center">Huntington Beach Live Update</p>
        <img class="img img-responsive img-rounded center-block profile-pic spacing" src="dashboard-live.png">
        <ul class="nav nav-sidebar">
          <li><strong>Current Weather: </strong>Clear</li>
          <li><strong>Surf Height: </strong>4'-5'</li>
          <li><strong>Surf Period: </strong>12 seconds</li>
          <li><strong>Surf Direction: </strong>West</li>
          <li><strong>Surf Quality: </strong>Fair-good</li>
          <li><strong>Water Temperature: </strong>59 degrees</li>
          <li><strong>Water Surface: </strong>Smooth</li>
          <li><strong>Wind Direction: </strong>Southeast</li>
          <li><strong>Wind Speed: </strong>2 MPH</li>
          <li><strong>Air Temperature: </strong>71 degrees</li>
          <li><strong>Air Visibility: </strong>20 miles</li>
          <li><strong>Barometric Pressure: </strong>1022 mb</li>
          <li><strong>Sun Rise: </strong>6:48 AM</li>
          <li><strong>Sun Set: </strong>5:26 PM</li>
          <li><strong>High Tide: </strong>6:34 AM 5.6' / 8:08 PM 3.8'</li>
          <li><strong>Low Tide: </strong>12:16 AM 2.1' / 1:44 PM -0.6'</li>
        </ul>
        <p class="h3 text-center">Pismo Beach Live Update</p>
        <img class="img img-responsive img-rounded center-block spacing" src="dashboard-pismo.jpg">
        <ul class="nav nav-sidebar">
          <li><strong>Current Weather: </strong>Clear</li>
          <li><strong>Surf Height: </strong>4'-5'</li>
          <li><strong>Surf Period: </strong>12 seconds</li>
          <li><strong>Surf Direction: </strong>West</li>
          <li><strong>Surf Quality: </strong>Fair-good</li>
          <li><strong>Water Temperature: </strong>59 degrees</li>
          <li><strong>Water Surface: </strong>Smooth</li>
          <li><strong>Wind Direction: </strong>Southeast</li>
          <li><strong>Wind Speed: </strong>2 MPH</li>
          <li><strong>Air Temperature: </strong>71 degrees</li>
          <li><strong>Air Visibility: </strong>20 miles</li>
          <li><strong>Barometric Pressure: </strong>1022 mb</li>
          <li><strong>Sun Rise: </strong>6:48 AM</li>
          <li><strong>Sun Set: </strong>5:26 PM</li>
          <li><strong>High Tide: </strong>6:34 AM 5.6' / 8:08 PM 3.8'</li>
          <li><strong>Low Tide: </strong>12:16 AM 2.1' / 1:44 PM -0.6'</li>
        </ul>
        <p class="h3 text-center">Newport Beach Live Update</p>
        <img class="img img-responsive img-rounded center-block spacing" src="dashboard-wedge.png">
        <ul class="nav nav-sidebar">
          <li><strong>Current Weather: </strong>Clear</li>
          <li><strong>Surf Height: </strong>4'-5'</li>
          <li><strong>Surf Period: </strong>12 seconds</li>
          <li><strong>Surf Direction: </strong>West</li>
          <li><strong>Surf Quality: </strong>Fair-good</li>
          <li><strong>Water Temperature: </strong>59 degrees</li>
          <li><strong>Water Surface: </strong>Smooth</li>
          <li><strong>Wind Direction: </strong>Southeast</li>
          <li><strong>Wind Speed: </strong>2 MPH</li>
          <li><strong>Air Temperature: </strong>71 degrees</li>
          <li><strong>Air Visibility: </strong>20 miles</li>
          <li><strong>Barometric Pressure: </strong>1022 mb</li>
          <li><strong>Sun Rise: </strong>6:48 AM</li>
          <li><strong>Sun Set: </strong>5:26 PM</li>
          <li><strong>High Tide: </strong>6:34 AM 5.6' / 8:08 PM 3.8'</li>
          <li><strong>Low Tide: </strong>12:16 AM 2.1' / 1:44 PM -0.6'</li>
        </ul>
      </div>
      <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 main">
        <div class="pull-right">
          <a href="/"><button class="btn btn-primary">Home</button></a>
          <a href="/logout"><button class="btn btn-danger">Logout</button></a>
        </div>
        <p class="h2">Welcome, {{vm.userInfo.firstName}}</p>
        <div class="container-fluid dashboard-section">
          <div class="col-xs-6">
            <img class="img img-responsive img-circle" ng-src="uploads/{{vm.userInfo.picture}}">
          </div>
          <div class="col-xs-6">
            <div ng-controller="MyCtrl">
              <p class="h4">Update your profile picture:</p>
              <p class="help-block">Max file size: 1MB</p>
              <button class="btn btn-default" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-size="1MB">Select File</button>
              <div>{{f.name}} <small id="image-error" class="alert alert-danger" ng-show="errFile.$error">Error uploding file: {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}</small>
                <span class="progress" ng-show="f.progress >= 0">
                  <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                </span>
              </div>
              {{errorMsg}}
            </div>
          </div>
        </div>
        <div class="dashboard-section">
          <p class="h4">Your current info:</p>
          <p><span class="h5">Email:</span> {{vm.userInfo.email}}</p>
          <p><span class="h5">Phone:</span> {{vm.userInfo.phone}}</p>
          <p><span class="h5">Beach:</span> {{vm.userInfo.beaches}}</p>
        </div>
        <div class="dashboard-section">
          <form ng-submit="vm.updateTimes()">
            <p class="h4">Select your daily available hours:</p>
            <div ng-show="vm.timesMessage" class="alert alert-success">{{vm.timesMessage}}</div>
            <div ng-show="vm.timesError" class="alert alert-danger">{{vm.timesError}}</div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="vm.userInfo.availableTimes[800].status">8am - 10am</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="vm.userInfo.availableTimes[1000].status">10am - 12pm</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="vm.userInfo.availableTimes[1200].status">12pm - 2pm</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="vm.userInfo.availableTimes[1400].status">2pm - 4pm</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="vm.userInfo.availableTimes[1600].status">4pm - 6pm</label>
            </div>
            <button type="submit" class="btn btn-success">I'm available</button>
          </form>
        </div>
        <div class="dashboard-section">
          <form ng-submit="vm.updateBio()">
            <p class="h4">Update your bio:</p>
            <p class="help-block">1000 characters max</p>
            <div ng-show="vm.bioMessage" class="alert alert-success">{{vm.bioMessage}}</div>
            <div ng-show="vm.bioError" class="alert alert-danger">{{vm.bioError}}</div>
            <textarea class="form-control" rows="6" maxlength="1000" placeholder="Type your biography here" ng-model="vm.userInfo.bio"></textarea>
            <button typ="submit" class="btn btn-success">Submit Bio</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>