body {
  background-color: #eee;
}

#marquee {
  text-shadow: none;
  margin-top: 25px;
}

#alpha {
  background-color: rgba(0,0,0,.7);
  padding: 5px 10px;
  border-radius: 4px;
}

#bg {
  background: url('main.jpg') no-repeat center center;
  background-size: cover;
}

#signup {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}

.jumbotron {
  height: 500px;
  background: none;
  color: #fff;
  text-shadow: 2px 2px #111;
}

#beachSelect {
  max-width: 400px;
  margin-bottom: 10px;
}

#results {
  margin-bottom: 40px;
}

.instructor {
  border: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.profile-pic {
  margin-bottom: 10px;
}