body {
  background-color: #eee;
}

#login-header {
  background-color: rgba(0,0,0,.5);
  color: #fff;
  padding: 20px 40px 10px 10px;
}

.login-input {
  color: #000;
}

.btn-block {
  max-width: 400px;
}

#bg {
  background: url('main.jpg') no-repeat center center;
  background-size: cover;
}

#signup {
    background-color: #fefefe;
    border: 1px solid #ccc;
    padding: 20px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    margin-bottom: 50px;
}

.jumbotron {
  height: 500px;
  background: none;
  color: #fff;
  text-shadow: 2px 2px #111;
}

#beachSelect {
  max-width: 400px;
  margin-bottom: 10px;
}

#results {
  margin-bottom: 40px;
}

.instructor {
  border: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.profile-pic {
  margin-bottom: 10px;
}

#training-pic {
  margin-bottom: 50px;
}

.img-circle {
  border: 2px solid #111;
}

blockquote {
  margin-top: 0 !important;
  margin-bottom: 25px !important;
}

.available {
  color: green;
  font-weight: bold;
}

.unavailable {
  color: red;
}